.title{
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
}
.titleP{
    font-weight: bolder;
    font-size: 45px;
    margin: 0 8% 50px 8%;
}
.titleBox{
    font-weight: bolder;
    font-size: 45px;
    margin: 5px 10px 10px 25px;
    text-align: center;
}
.information{
    font-size: 28px;
    width: 84%;
    margin: 0 8% 50px 8%;
}
.informationBox{
    font-size: 23px;
    padding: 0 5px 5px 5px;
    margin: 0 5px;
}
.CatPage{
    font-size: 60px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
#LinkD{
    background-image: URL(images/linkDefin.png);
    margin: 30px 5% 30px 5%;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.au{
    text-align: left;
    font-size: 25px;
    margin: 0 8% 50px 8%;
}
.title2{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
.CatBox1{
    width: 84%;
    margin: 0 8% 50px 8%;
}
.CatBoxSN{
    width: 84%;
    margin: 0 8% 50px 8%;
}
.CatBox2{
    width: 46%;
    min-height: 580px;
    border-style: solid;
    border-width: 1%;
    border-color: rgb(183, 217, 59);
    margin: 1%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.CatBoxR{
    width: 20%;
    min-height: 500px;
    border-style: solid;
    border-width: 1%;
    border-color: rgb(183, 217, 59);
    margin: 1% 6.5% 1% 6.5%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.CatBoxSNU{
    width: 30%;
    height: 60%;
    border-style: solid;
    border-width: 1%;
    border-color: #3BD962;
    margin: 1% 8% 1% 8%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.CatBoxSNE{
    width: 30%;
    height: 60%;
    border-style: solid;
    border-width: 1%;
    border-color: #3BD962;
    margin: 1% 1% 1% 1%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.informationBoxSN{
    font-size: 25px;
    padding: 0 5px 5px 5px;
    margin: 0 5px;
}
.CatBoxI{
    width: 30%;
    min-height: 330px;
    border-style: solid;
    border-width: 1%;
    border-color: rgb(216, 84, 113);
    margin: 4% 1% 1% 13%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.CatBoxRE{
    width: 30%;
    height: 50%;
    border-style: solid;
    border-width: 1%;
    border-color: rgb(183, 217, 59);
    margin: 1% 6.5% 1% 6.5%;
    float: left;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}
.informationBoxI{
    font-size: 22px;
    padding: 0 5px 5px 5px;
    margin: 0 5px;
    font-weight: bolder;
    color: rgb(69, 87, 107);
}
.CatBoxRE2{
    width: 40%;
    float: left;

}
.tittleRI{
    font-weight: bolder;
    font-size: 35px;
    margin: 0 8% 50px 4%;
}
.tittleRMP{
    font-weight: bolder;
    font-size: 35px;
    margin: 0 8% 50px 8%;
}
.indice{
    text-decoration: none;
    font-size: 22px;
    color:black;
}